body{
     background-image: url(./imagens/bela-paisagem-do-ceu-durante-o-dia_23-2149265584-transformed.jpeg);
}

 .header__div{
    display: flex;
    justify-content: center;
    margin-top: 30px;
} 
.header__search{
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 15px;
}
.main__page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 400;

}
.article__concept{
    text-align: center;
    width: 400px;
    background-color: transparent ;
    font-weight: 500;
    
}
.section__metropoles{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.li__metropole{

    display: flex;
    flex-direction: column;
    width: 400px;
    height: 450px;
    background-color: #fefae0;
    border: 2px solid black;
    border-radius: 3px;
    align-items: center;    
}
.info__metropole{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    gap: 5px;
} 

.sp__img{
    width: 375px;
    height:375px;
    border-radius: 3px;
}

button{
    cursor: pointer;
    border-radius: 3px;
}